<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ContactoCreateDlg" widgetVar="ContactoCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateContactoTitle}">
            <h:form id="ContactoCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{contactoController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateContactoLabel_nombreContacto}" for="nombreContacto" />
                        <p:inputText id="nombreContacto" value="#{contactoController.selected.nombreContacto}" title="#{bundle.CreateContactoTitle_nombreContacto}" required="true" requiredMessage="#{bundle.CreateContactoRequiredMessage_nombreContacto}"/>
                        <p:outputLabel value="#{bundle.CreateContactoLabel_descripcionContacto}" for="descripcionContacto" />
                        <p:inputText id="descripcionContacto" value="#{contactoController.selected.descripcionContacto}" title="#{bundle.CreateContactoTitle_descripcionContacto}" />
                        <p:outputLabel value="#{bundle.CreateContactoLabel_telefonoContacto}" for="telefonoContacto" />
                        <p:inputText id="telefonoContacto" value="#{contactoController.selected.telefonoContacto}" title="#{bundle.CreateContactoTitle_telefonoContacto}" required="true" requiredMessage="#{bundle.CreateContactoRequiredMessage_telefonoContacto}"/>
                        <p:outputLabel value="#{bundle.CreateContactoLabel_direccionContacto}" for="direccionContacto" />
                        <p:inputText id="direccionContacto" value="#{contactoController.selected.direccionContacto}" title="#{bundle.CreateContactoTitle_direccionContacto}" required="true" requiredMessage="#{bundle.CreateContactoRequiredMessage_direccionContacto}"/>
                        <p:outputLabel value="#{bundle.CreateContactoLabel_ubicacionContacto}" for="ubicacionContacto" />
                        <p:inputText id="ubicacionContacto" value="#{contactoController.selected.ubicacionContacto}" title="#{bundle.CreateContactoTitle_ubicacionContacto}" />

                        <p:outputLabel value="#{bundle.CreateContactoLabel_tipoContacto}" for="tipoContacto" />
                        <p:selectOneMenu id="tipoContacto" value="#{contactoController.selected.tipoContacto}" style="width:125px" required="true" requiredMessage="#{bundle.EditContactoRequiredMessage_tipoContacto}">
                            <f:selectItems value="#{tipoContactoController.itemsAvailableSelectOne}"
                                           var="tipoContactoItem"
                                           itemValue="#{tipoContactoItem}"/>
                        </p:selectOneMenu>

                        <p:outputLabel for="deptos"  value="#{bundle.CreateContacto_Label_Departamento}"/>
                        <p:selectOneMenu id="deptos" value="#{parametricasBean.localidadSeleccionada}" style="width:125px"  required="true" >
                            <f:selectItem itemValue="0" itemLabel="Seleccione Uno" itemEscaped="false"/>
                            <f:selectItems value="#{parametricasBean.depar}"
                                           var="fila"
                                           itemLabel="#{fila.nombre}"
                                           itemValue="#{fila.codigoLocalidad}"/>
                            <p:ajax event="change" update="DptoxMuni"/>

                        </p:selectOneMenu>

                        <p:outputLabel value="#{bundle.CreateContacto_Label_Municipio}"/>

                        <p:selectOneMenu id="DptoxMuni" value="#{parametricasBean.localidadSeleccionada}" style="width:125px" required="true">
                            <f:selectItem itemValue="0" itemLabel="Seleccione Uno" itemEscaped="false"/>
                            <f:selectItems value="#{parametricasBean.municipio}"
                                          var="fila"
                                           itemValue ="#{fila.nombre}"/>
                        </p:selectOneMenu>


                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{contactoController.create}" value="#{bundle.Save}" update="display,:ContactoListForm:datalist,:growl" oncomplete="handleSubmit(args,'ContactoCreateDialog');"/>
                    <p:commandButton immediate="true" value="#{bundle.Cancel}" onclick="ContactoCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
