<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListTipoContactoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="TipoContactoListForm">
                <p:panel header="#{bundle.ListTipoContactoTitle}">
                    <p:dataTable id="datalist" value="#{tipoContactoController.items}" var="item"
                                 selectionMode="single" selection="#{tipoContactoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.idTipoContacto}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoContactoTitle_idTipoContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.idTipoContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoContactoTitle_nombreTipoContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombreTipoContacto}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipoContactoTitle_descripcionTipoContacto}"/>
                            </f:facet>
                            <h:outputText value="#{item.descripcionTipoContacto}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{tipoContactoController.prepareCreate}" update=":TipoContactoCreateForm" oncomplete="PF('TipoContactoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":TipoContactoViewForm" oncomplete="PF('TipoContactoViewDialog').show()" disabled="#{empty tipoContactoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":TipoContactoEditForm" oncomplete="PF('TipoContactoEditDialog').show()" disabled="#{empty tipoContactoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{tipoContactoController.destroy}" update=":growl,datalist" disabled="#{empty tipoContactoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
