<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Vencimientos Personales</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <h:outputStylesheet library="css" name="jsfcrud.css"/>
        <h:outputScript library="js" name="jsfcrud.js"/>
        <h:outputStylesheet library="css" name="materialize.css"/>
        <h:outputScript library="js" name="materialize.js"/>
    </h:head>
    <h:body>

        <p:panel header="Seleccione Opcion" >


            <p:panelGrid columns="2" >

                <div class="card-panel teal lighten-2">
                    <center>

                        <a  href="/vencimiento_personal/faces/categoria/List.xhtml" class="waves-effect waves-light teal accent-4 btn">Categorias</a>

                        <a href="/vencimiento_personal/faces/contacto/List.xhtml" class="waves-effect waves-light teal accent-4 btn">Contactos</a>
                        <br />
                        <br />
                        <a href="/vencimiento_personal/faces/localidad/List.xhtml" class="waves-effect waves-light teal accent-4 btn">Localidades</a>

                        <a href="/vencimiento_personal/faces/tipoContacto/List.xhtml" class="waves-effect waves-light teal accent-4 btn">Tipo De Contactos</a>
                        <br />
                        <br />
                        
                        <a href="/vencimiento_personal/faces/vencimiento/List.xhtml" class="waves-effect waves-light teal accent-4 btn">Vencimientos</a>
                        <br />
                        <br />
                        <a href="/vencimiento_personal/faces/login.xhtml" class="waves-effect waves-light teal accent-4 btn">Cerrar Sesion</a>

                    </center>
                </div>
            </p:panelGrid>
        </p:panel>
        <script type="text/javascript" src="resources/js/materialize.js"></script>
        <br />
        
    </h:body>


</html>

